@font-face{
    font-family: "Mulish";
    src: url('res/font/Mulish-VariableFont_wght.ttf');
}

body{
    font-family: proxima-nova, sans-serif;
    font-weight: 300 !important;
    font-style: normal !important;
    background-color: white;
    /* color:dimgray; */
    color:#202020;
    font-size: 1.3rem;
    line-height: 1.6;
}

.homepage{
    background-color: black;
    color: white;
    overflow: hidden;
}

.gradient{
    /* z-index: -1; */
    position: absolute;
}

.banner{
    width:100%;
    height: auto;
    overflow: hidden;
}

video{
    width:100%;
    height:auto;
}

img{
    width:100%;
    overflow:hidden;
    margin-bottom: 0.6em;
}

.inline{
    display: inline;
    width:1.5rem;
}

h1{
    font-family: 'Spectral', serif;
    font-weight: 700;
    font-size: 2.8rem;
}

h2{
    font-family: 'Spectral', serif;
    font-weight: 700;
    font-size: 56px;
}

.homeheader{
    font-family: 'Spectral', serif;
    font-weight: 600;
    font-size: 2.4rem;

}

h3{
    font-size: 1.5rem !important;
    /* color:chartreuse; */
    font-weight:600 !important;
    text-transform: uppercase;
    margin-top: 150px !important; 
}

h4{
    font-size: 2.2rem !important;
    font-weight:800 !important;
    /* color: greenyellow;        */
    line-height: 1.5em;
    margin-bottom: 20px !important;
}

h6{
    font-family: proxima-nova, sans-serif;
    font-weight: 300 !important;
    font-size: 1rem;
    text-transform: uppercase;
    color: #cac7c5;
    /* color: #8e8885; */
}

h7{
    font-size: 1.5rem;
}

p{
    line-height: 1.5em;
    margin-bottom: 0.3em;
}

#usertest{
    display: none;
}

h5{
    font-weight:600;
    font-size: 1.4rem;
    line-height:1.5em !important;
}

.title{
    font-size: 2rem !important;
    font-weight:600 !important;
    text-transform: uppercase;
    color: white;
    font-family: proxima-nova, sans-serif;
}

a{
    color: #f25410;
    font-weight:500;
    font-family: proxima-nova, sans-serif;
}

a:hover{
    color:#f25410;
    text-decoration: none;  
}

.theraview-link{
    font-family: proxima-nova, sans-serif;
    font-weight:600 !important;
    font-size:1.3rem;
    color:#527E5A;
}

.theraview-link:hover{
    text-decoration: underline;
    color:#527E5A;
}


.head-links{
    color: white;
    font-family: proxima-nova, sans-serif;
    font-weight:400;
    font-size:1.4rem;
}

.head-links:hover {
    color:black;
    background-color: #f25410;
    /* text-decoration: line-through; */
}


br{
    display: block !important;
    font-size: 200% !important;
    line-height:1.5em !important;
}

b{
    font-weight: 600;
}

.dark{
    color:white;
}

.mobilevideo{
    width: 80% !important;
}

.quote{
    font-style:italic;
}

.footer-cus{
    height: 400px;
    background-color: black;
    color: white;
    overflow: hidden;
    width: 100vw;
}

mark{
    /* color: #ea0a8e; */
    background-color: white;
    padding:0;
    font-weight:600 !important;
}

.highlight{
    color:dodgerblue;
}

.strong{
    font-weight:500;
    background-color: yellow;
}

.footer {
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
    background-color: #f5f5f5;
}

.top-buffer {
    padding-top:20vh;
}

.topbar{
    background-color: black;
    z-index: 2;
}

.home{
    position: fixed;
}

.full-height{
    height:70vh;
}



.bg-light{
    background-color: black;
}

.theraview-b{
    color:#527E5A;
}

.collapsible{
    background-color: white;
    border: 2px solid dimgray;
    /* color:dimgray; */
    max-width: 100%;
    text-align: center;
    font-weight: 400;
    font-size: 1.1rem;
}

#content{
    display: block;
}

.full-size{
    margin-top: 50px;
    margin-bottom: 150px;
}