
@font-face {
    font-family: 'Ubuntu';
    src: url('res/font/Ubuntu-Regular.ttf') format('truetype');
    font-weight: 500;
    /*font-style: normal;*/
}

@font-face {
    font-family: 'Ubuntu';
    src: url('res/font/Ubuntu-Bold.ttf') format('truetype');
    font-weight: 700;
    /*font-style: bold;*/
}

@font-face {
    font-family: 'Ubuntu';
    src: url('res/font/Ubuntu-Light.ttf') format('truetype');
    font-weight: 300;
    /*font-style: ;*/
}

@font-face {
    font-family: 'Spectral';
    src: url('res/font/Spectral-Bold.ttf') format('truetype');
    font-weight: 700;
    /*font-style: ;*/
}

@font-face{
    font-family: "Mulish";
    src: url('res/font/Mulish-VariableFont_wght.ttf');
}

body{
    font-family: proxima-nova, sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: white;
    color:dimgray;
    font-size:20px;
    font-size: 1.1rem;
    line-height: 1.6;
}

.homepage{
    background-color: black;
    color: white;
    overflow: hidden;
}

.gradient{
    /* z-index: -1; */
    position: absolute;
}

.banner{
    width:100vw;
}

video{
    width:100%;
    height:auto;
}

img{
    width:100%;
    overflow:hidden;
}

h2{
    font-size: 50px !important;
    /* color: #BEBEBE; */
    font-family: Spectral !important;
}

h3{
    font-size: 1.5rem !important;
    font-weight:800 !important;
}

h4{
    font-size: 2.2rem !important;
    font-weight:400 !important;
    color:rgb(180, 180, 180);       
    line-height: 1.3em;
}

h5{
    font-weight:600;
    font-size: 1.1rem;
}

a{
    color: rgb(108, 105, 252);
    font-family: Spectral;
    font-size:20px;
}

a:hover{
    color:rgb(159, 158, 253);
    text-decoration: none;  
}

.head-links{
    color: white;
    font-family: proxima-nova, sans-serif;
    font-weight:400;
    font-size:1.4rem;
}

.head-links:hover {
    color:white;
    /* background-color: yellow; */
    text-decoration: line-through;
}


br{
    display: block !important;
    font-size: 200% !important;
    line-height:1.5em !important;
}

b{
    font-weight: 600;
}
.quote{
    font-style:italic;
}

.footer-cus{
    height: 400px;
    background-color: black;
    color: white;
}

mark{
    color: #ea0a8e;
    background-color: white;
    padding:0;
}

.highlight{
    color:dodgerblue;
}

.strong{
    font-weight:500;
    background-color: yellow;
}

.footer {
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
    background-color: #f5f5f5;
}

.top-buffer {
    padding-top:20vh;
}

.topbar{
    background-color: black;
    z-index: 2;
}

.home{
    position: fixed;
}

.full-height{
    height:70vh;
}

.intro-header{
    font-family: 'Markazi Text', serif;
}

.bg-light{
    background-color: black;
}

.theraview-b{
    color:#527E5A;
}

.collapsible{
    background-color: white;
    border: 2px solid dimgray;
    color:dimgray;
    max-width: 100%;
    text-align: center;
    font-weight: 400;
    font-size: 1.1rem;
}

#content{
    display: block;
}